.slide-image{
    /* width: 100%; */
    border-radius: 9px;
    width: 12rem;
    margin: 0.5rem;
}

.star{
    margin-top: 0.25rem;
    height: 1rem;
}

.ratings{
    
    display: flex;
}

.ratings > p {
margin-top: 0;
padding-left: 0.2rem;
font-weight: 10;
}
.grey{
    color: grey ;
}
p{
    margin: .5rem;
    /* margin-top: 0;
    margin-bottom: 0; */
    font-weight: 300;
}
.price{
    font-weight: 600;
}
.item {
    position:relative;
    padding-top:20px;
    display:inline-block;
}
.notify-badge{
    position: absolute;
    background:white;
    text-align: center;
    border-radius: 3px 3px 3px 3px;
    color:black;
    top: 2rem;
    left: 1.5rem;
    padding: 0.1rem 1rem;
    font-size:0.8rem;
}
.hidden{
    visibility: hidden;
}