.main-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */

}
.main-content > img{
    padding-top: 2rem;
    width: 80%;
    margin: auto;
    
}
.main-content > h1{
    font-size: 2.5rem;
    font-weight: 600;
 }
.main-content > p{
    width: 70%;
   font-weight: 10;
}



